*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:linear-gradient(#06070f,#12152c);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;

}

.hero{

text-align:center;

}

h1{

font-size:55px;
color:#ff7fb5;

}

h2{

margin-top:20px;
font-size:42px;

}

p{

margin-top:15px;
font-size:22px;
opacity:.8;

}

button{

margin-top:40px;
padding:18px 45px;
font-size:20px;
border:none;
border-radius:50px;
cursor:pointer;
background:#ff4d94;
color:white;
box-shadow:0 0 30px hotpink;

transition:.4s;

}

button:hover{

transform:scale(1.1);

}
